.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*    -fx-background-color: linear-gradient(#879876 0%, #334455 25%, #888888 75%, #000000 100%);*/
    -fx-background-color: lightgray;
    -fx-text-fill: transparent;
}

#s-lable{
    -fx-font-color: red;
    -fx-font-size: 10px;
    -fx-font-weight: bolder;
}